*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}



.info-utente{
    margin-left: 10px;
}

.head-name{
    height: 45%;
}

.ultimo-accesso{
    display: flex;
    align-items: flex-start;
    height: 55%;

}

small{
    color: grey;
    font-size: 10px;
}

input:focus, button:focus{
    outline: none;
}

.template{
    display: none;
}

body{

    background-color:  #D9DBD6;

}




.barra-sopra{
    background-color: #009688 ;
    height: 100px;
}

.container{

    background-color: white;
    width: 90vw;
    height: 95vh;
    position: absolute;
    left: 5%;
    top: 2.5vh;

}



/*SIDEBAR*/

.sidebar{
    width: 30%;
    height: 100%;
    float: left;
}

/*barra sopra/ profilo personale*/

.top-sidebar{
    height:50px;
    background-color: #EDEDED;
    border-right: 0.5px solid lightgrey;
}




.profilo-personale{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;


}

.profilo-personale div{
    border-radius: 100%;
    width: 60%;
    height: 90%;
    background: url('https://thumbs.dreamstime.com/z/persona-casuale-del-ritratto-maschio-dell-avatar-dell-icona-di-profilo-46846328.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;

}

.top-icons, .icone-correnti{
    /*float: left;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 75%;
}

.top-icons i , .icone-correnti i{
    font-size: 20px;
    margin-right: 30px;
    color: grey;
}


/*NOTIFICHE*/
.notifiche{

    height: 60px;
    background: #9DE1FE;

}

.notifiche .anteprima-chat{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.notifiche strong{
    font-size: 12px;
}

.notifiche a{
    color: grey;
}

.notifiche .foto-profilo{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9DE1FE;
}



.ricerca{

    height: 40px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;

}

.casella-ricerca{
    border-radius: 100px;
    background-color: white;
    border-color: lightgrey;
    width: 90%;
    height: 90%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.casella-ricerca input{
    border: 0px;
    width:85%;
    height:80%;
}


.cerca{
    height:80%;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 10px;
    margin: 0 15px;
}

.cerca:hover{
    cursor: pointer;
}

/*Anteprima chat*/

.tutte_chat{
    overflow-y: scroll;
    height: calc(100% - 60px - 50px - 40px);
}

.anteprima-chat{
    padding: 10px;
}

.tutte_chat .anteprima-chat{
padding: 15px 10px 0 15px;
/*margin-top: 10px;*/
}

.tutte_chat .anteprima-chat:hover{

    cursor: pointer;
    background: #EDEDED;

}

.chat{
    height:50px;
}

.div-foto-profilo , .foto-corrente {
    width:25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.foto-corrente{
    justify-content: flex-start;
    align-items: center;
}

.foto-profilo , .foto-corrente-in{
    border-radius: 100%;
    width:45px;
    height:45px;
    box-shadow: 0px 1px 3px 1px rgba(230,230,230,1);
    overflow: hidden;
    position: relative;
}

.foto-corrente-in{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-profilo img, .foto-corrente-in img{
    width: 110%;
    height: 110%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.nome_mess{

    height: 100%;
    width: 65%;
    float: right;
    margin-right: 10px;
    border-bottom: 1px solid #EDEDED;
    padding: 5px;

}

.nome{
    height: 40%;
    display: flex;
    align-items: flex-end;

}

.mess{
    height: 60%;
    color: grey;
    font-size: 10px;
    display: flex;
    align-items: center;
}





/*MAIN*/

.main{

    float: left;
    width: 70%;
    height: 100%;
    position: relative;

}

header{

    height:50px;
    background-color: #EDEDED;
    box-shadow: 0px 3px 5px 0px lightgrey;
    z-index: 2;
    display: flex;
    justify-content: space-between;


}

.barra-mess{

    position: absolute;
    height:10%;
    width: 100%;
    background-color: white;
    bottom: 0;
    background: #F0F0F0;
    display: flex;
    align-items: center;


}

.smile{
    width:8%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.barra-mess .smile .fa-smile{
    color:#959B9D;
    font-size: 25px;
}

.scrivi-messaggio{
    width: 85%;
    height: 80%;
    background: white;
    float: left;
    border-radius: 100px;
    display: flex;
    align-items: center;
}


.scrivi-messaggio input{
    height: 80%;
    margin-left: 20px;
    border:0;
    width: 90%;
}

.mic{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:7%;


}

.button{
    border:0;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:7%;
    display: none;
    background-color: #EDEDED;
}

.button:hover{
    cursor: pointer;
}



.fa-paper-plane{
    color:#959B9D;
    font-size: 25px;
}


.mic .fa-microphone{
    color:#959B9D;
    font-size: 25px;
}


/*MAIN MAIN*/

.schermata-messaggi{
    height: 83%;
    width: 100%;
    background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');

    background-position: center;
    overflow: hidden;
    overflow-y: scroll;

}

/*Messaggi*/
.messaggio{
    margin: 10px;
    max-width: 20%;
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
    color: #8B8B8B;
    position: relative;

}


.ricevuto{
    float: left;
    clear: both;
    margin-left: 10%;
    background: #FFFFFF;
}

.mandato{
    float: right;
    clear: both;
    margin-right: 10%;
    background-color: #dcf8c6;
}


/*icone main corrente*/

.icone-correnti{
    padding-right: 10px;
}

/*freccia delete*/
.delete{
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    height: 45%;
    width:15px;
    display: flex;
    align-items: center;
    background-color: #DCF8C6;
    box-shadow: -9px -5px 20px 1px rgba(220,248,198,1);
    display: none;

}

.delete:hover{
    cursor: pointer;
}

.messaggio:hover .delete{
    display: block;
}

.delete .fa-chevron-down{
    margin:auto;
    font-size: 15px;
}

.finestra-delete{
    background: white;
    position: absolute;
    padding:20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

}

.finestra-delete span{
    width: 100%;
    padding: 10px 25px;
}

.finestra-delete span:hover{
    background: #EDEDED;
}


.iniziale{
    background-image: URL('https://whatsappbrand.com/wp-content/themes/whatsapp-brc/images/WhatsApp_Logo_1.png');

    background-position: center;
}



/*visible/invisible*/

.invisible{
 display: none;
}

.visible{
    display: block;
}

.chat.invisible , .chat.visible{
     align-self :
}

.active{
    background-color: #EDEDED;
}

i:hover{
    cursor: pointer;
}
