*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.template{
    display: none;
}

body{

    background-color:  #D9DBD6;

}

.barra-sopra{
    background-color: #009688 ;
    height: 100px;
}

.container{

    background-color: white;
    width: 90vw;
    height: 95vh;
    position: absolute;
    left: 5%;
    top: 2.5vh;

}



/*SIDEBAR*/

.sidebar{
    width: 30%;
    height: 100%;
    float: left;
}

.top-sidebar{
    height:50px;
    background-color: #EDEDED;
    border-right: 0.5px solid lightgrey;
}

.notifiche{
    height: 100px;
    background: #9DE1FE;
}

.ricerca{

    height: 40px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;

}

.casella-ricerca{
    border-radius: 100px;
    background-color: white;
    border-color: lightgrey;
    width: 90%;
    height: 90%;
    padding: 5px 10px;
    align-items: center;
}

.casella-ricerca input{
    border: 0px;
    width:85%;
    height:80%;
}


.cerca{
    display: inline-block;
    color: grey;
    font-size: 10px;
    margin: 0 15px;
}

/*Anteprima chat*/

.tutte_chat{
    overflow-y: scroll;
    height: 496px;
}

.anteprima-chat{
    padding: 10px;
}

.chat{
    height:50px;
}

.div-foto-profilo{
    width:25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.foto-profilo{
    border-radius: 100%;
    width:45px;
    height:45px;
    box-shadow: 0px 1px 3px 1px rgba(230,230,230,1);
    overflow: hidden;
    position: relative;
}

.foto-profilo img{
    width: 110%;
    height: 110%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.nome_mess{

    height: 100%;
    width: 65%;
    float: right;
    margin-right: 10px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;

}

.nome{
    height: 40%;
    display: flex;
    align-items: flex-end;

}

.mess{
    height: 60%;
    color: grey;
    font-size: 10px;
    display: flex;
    align-items: center;
}





/*MAIN*/

.main{

    float: left;
    width: 70%;
    height: 100%;
    position: relative;
    overflow-y: scroll;

}

header{

    height:50px;
    background-color: #EDEDED;
    box-shadow: 0px 3px 5px 0px lightgrey;
    z-index: 2;


}

.barra-mess{

    position: absolute;
    height:10%;
    width: 100%;
    background-color: white;
    bottom: 0;
    background: #F0F0F0;
    display: flex;
    align-items: center;


}

.smile{
    width:8%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.barra-mess .smile .fa-smile{
    color:#959B9D;
    font-size: 25px;
}

.scrivi-messaggio{
    width: 85%;
    height: 80%;
    background: white;
    float: left;
    border-radius: 100px;
    display: flex;
    align-items: center;
}


.scrivi-messaggio input{
    height: 80%;
    margin-left: 20px;
    border:0;
    width: 90%;
}

.mic{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:7%;


}

.button{
    border:0;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:7%;
    display: none;
    background-color: #EDEDED;
}

.button:hover{
    cursor: pointer;
}



.fa-paper-plane{
    color:#959B9D;
    font-size: 25px;
}


.mic .fa-microphone{
    color:#959B9D;
    font-size: 25px;
}


/*MAIN MAIN*/

main{
    height: 83%;
    width: 100%;
    background: url('https://media.cdnandroid.com/5c/01/2d/95/60/imagen-whatsapp-wallpaper-4gal.jpg');
    background-position: center;
    overflow: hidden;
    overflow-y: scroll;

}

/*Messaggi*/
.messaggio{
    margin: 10px;
    max-width: 20%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
    color: #8B8B8B;
}


.ricevuto{
    float: left;
    clear: both;
    margin-left: 10%;
    background: #FFFFFF;
}

.mandato{
    float: right;
    clear: both;
    margin-right: 10%;
    background-color: #dcf8c6;
}




/*visible/invisible*/

.invisible{
 display: none;
}

.visible{
    display: block;
}
